<%- include ( './partials/head' ); %>
    <!--ESTILOS PROPIOS-->

    <link rel="stylesheet" href="/css/estilos.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>
                <div class="container contieneDetalle">
                    <div class="row justify-content-end">
                        
                        <form action="/<%= carta.idCartas %>?_method=DELETE" method="post" class="formularioEliminar">
                            <a href="/editCarta/<%=carta.idCartas%>" class="btn  col-2 botones">Editar</a>
                            <button class="btn col-2 eliminar " type="submit">Eliminar</button>
                      </form>
                    </div>
                    <div class="detalleContenedor">
                        <div class="row justify-content-end">
                            <h4 class="edicionDetalleCarta">Edición: <%=carta.edicion%>
                            </h4>
                        </div>
                        <section class="row justify-content-around ">
                            <img class="imgDetalle col-5" src="/imagenes/<%=carta.imagen%>" alt="<%=carta.nombre%>">
                            <div class="contenido col-5">
                                <h3 class="detalleDato">Carta: <%=carta.carta%></h3>
                                <h3 class="detalleDato">$<%=carta.precio%>.-</h3>
                                <p class="detalleDato">Descripción: <%=carta.descripcion%> </p>
                                <a href="https://wa.me/<%carta.contacto%>>" class="col-12 text-left">Contacto</a>
                            </div>
                        </section>
                    </div>
                   

                </div>
                <%- include ( './partials/footer' ); %>