<%- include ( './partials/head' ); %>
 <!--ESTILOS PROPIOS-->
 <title><%=cartas.titulo%></title>
<link rel="stylesheet" href="/css/estilos.css">
</head>

<body class="">     
<%- include ( './partials/header'); %>
<%- include ( './partials/contacto'); %>
<div class="container-flui">
<section class="row justify-content-center ml-5 mr-5">
    <%for(let i = 0; i< cartas.length; i++){%>
<article class="col-lg-3 col-md-12 card cardDigimonInicio mt-5 ">
        <img class="card-img-top" src="/imagenes/<%=cartas[i].imagen%>" alt="Digimon: <%=cartas[i].nombre%> ">
        <div class="card-body text-center">
        <h3 class="card-title"><%=cartas[i].nombre%></h3>
        <p class="card-text"><%=cartas[i].descripcion%> <br> <%=cartas[i].contacto%></p>
        <h5 class="card-subtitle"><%=cartas[i].precio%></h5>
        <a href="/detalleCarta/<%=cartas[i].idCartas%>" class="btn btn-primary">Ver más</a>
        </div>
</article>
<%}%>
</section>
</div>
<%- include ( './partials/footer'); %>